<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школа иностранных языков</title><!--Заголовок в браузере-->
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/" type="image/x-icon">
</head>
<body id="back_news">
<div id="header">
    <div id="logo">
        <a href="/">LanguageSchool;</a>
    </div>
    <nav id="menu">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/reviews">Отзывы</a></li>
            <li><a href="/cart">Корзина</a></li>
            <li><a href="/reg">Регистрация</a></li>
            <li><a href="/login">Вход</a></li>
        </ul>
    </nav>
</div>
<div id="my-cart">

</div>

</div>
<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-md-2 align-self-center">
            <ul>
                <li><a href="index.html">Услуги</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a href="reg.html">Личный кабинет</a></li>
            </ul>
        </div>
        <div class="col-md-2 align-self-center">

        </div>
        <div class="col-md-4 align-self-center">
            &copy;2023г.<br>
            Все права защищены.
        </div>
        <div class="col-md-4 align-self-center">
            Соц.сети:<br>
            <a href="#"><img src="../static/img/vk.png" alt=""></a>
            <a href="#"><img src="../static/img/facebook.png" alt=""></a>
            <a href="#"><img src="../static/img/instagram.png" alt=""></a>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/cart.js"></script>
</body>
</html>