<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/%22%3E">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Школа иностранных языков</title><!--Заголовок в браузере-->
	<title>Услуги</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/" type="image/x-icon"><!--Иконка--> <!-- НЕ ЗАБЫТЬ!!!!!!!!! добавить иконку-->
</head>
<body id="back_news">
<div id="header">
	<div id="logo">
   		<a href="/">LanguageSchool;</a>
   	</div>
   	<nav id="menu">
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/reviews">Отзывы</a></li>
			<li><a href="/cart">Корзина</a></li>
			<li><a href="/reg">Регистрация</a></li>
			<li><a href="/login">Вход</a></li>
		</ul>
   </nav>
</div>
<div class="container">
<div class="row justify-content-md-center">
	<div class="col-12 col-md-9 align-self-center">
		<!-- Slideshow container -->
		<div class="slideshow-container">
		  <!-- Full-width images with number and caption text -->
		  <div class="mySlides fade">
		    <div class="numbertext">1 / 3</div>
		    <img src="/img/1.jpg" style="width:100%">
		  </div>

		  <div class="mySlides fade">
		    <div class="numbertext">2 / 3</div>
		    <img src="/img/2.png" style="width:100%">
		    <div class="text"><script language="JavaScript">
			</script></div>
		  </div>

		  <div class="mySlides fade">
		    <div class="numbertext">3 / 3</div>
		    <img src="/img/3.jpg" style="width:100%">
		    <div class="text"><script language="JavaScript">
			</script></div>
		  </div>

		  <!-- Кнопки вперед и назад -->
		  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		  <a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		<br>

		<!-- Круглые кнопки -->
		<div style="text-align:center">
		  <span class="dot" onclick="currentSlide(1)"></span>
		  <span class="dot" onclick="currentSlide(2)"></span>
		  <span class="dot" onclick="currentSlide(3)"></span>
		</div>
	</div>
	<script type="text/javascript" src="js/slider.js"></script>
</div>
	<h2 style="color: white">Товары </h2>
	<div id="mini-cart"></div>

	<div id="item"></div>

</div>
<div class="container-fluid" id="footer">
   <div class="row">
   	<div class="col-md-2 align-self-center">
   		<ul>
	     <li><a href="index.html">Услуги</a></li>
	     <li><a href="reviews.html">Отзывы</a></li>
	     <li><a href="reg.html">Личный кабинет</a></li>
	    </ul>
   	</div>
   	<div class="col-md-2 align-self-center">

   	</div>
   	<div class="col-md-4 align-self-center">
   		&copy;2023г.<br>
   	Все права защищены.
   	</div>
   	<div class="col-md-4 align-self-center">
   		Соц.сети:<br>
   	<a href="#"><img src="../static/img/vk.png" alt=""></a>
   	<a href="#"><img src="../static/img/facebook.png" alt=""></a>
   	<a href="#"><img src="../static/img/instagram.png" alt=""></a>
   	</div>
   </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/item.js"></script>
<script src="js/footer.js"></script>
</body>
</html>