<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/%22%3E">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Школа иностранных языков</title><!--Заголовок в браузере-->
	<title>Услуги</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/" type="image/x-icon">
</head>
<body id="back_news">
<div id="header">
	<div id="logo">
   		<a href="/">LanguageSchool;</a>
   	</div>
   	<nav id="menu">
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/reviews">Отзывы</a></li>
			<li><a href="/cart">Корзина</a></li>
			<li><a href="/reg">Регистрация</a></li>
			<li><a href="/login">Вход</a></li>
		</ul>
   </nav>
</div>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-12 col-md-9 align-self-center">

			<div id="container_demo" >
				<a class="hiddenanchor" id="tosubscribe"></a>
				<a class="hiddenanchor" id="tologin"></a>

				<div th:if = "${User}!=null" >
					<!-- Информация от авторизованном пользователе-->
					<div th:text = "${User.username}"></div>
					<div th:text = "${User.mail}"></div>


				<div><a class="logout" href="/logout">Выйти из личного кабинета</a></div></div>

				<div th:if = "${User}==null" id="wrapper">
					<div id="login">
						<form method="post" autocomplete="on">
							<input
									type="hidden"
									th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
							<h1>Вход</h1>
							<p>
								<label for="username" class="uname" data-icon="u"></label>
								<input id="username" name="username" required="required" type="text" placeholder="Введите почту или логин"/>
							</p>
							<p>
								<label for="password" class="youpasswd" data-icon="p"></label>
								<input id="password" name="password" required="required" type="password" placeholder="Пароль" />
							</p>
							<p class="keeplogin">
								<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
								<label for="loginkeeping">Запомнить меня</label>
							</p>
							<p class="login button">
								<input type="submit" value="Login" />
							</p>
							<p class="change_link">
								Ещё не зарегистрированы?
								<a href="reg.html" class="to_subscribe">Регистрация</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" id="footer">
   <div class="row">
   	<div class="col-md-2 align-self-center">
   		<ul>
	     <li><a href="index.html">Услуги</a></li>
	     <li><a href="reviews.html">Отзывы</a></li>
	     <li><a href="reviews.html">Личный кабинет</a></li>
	    </ul>
   	</div>
   	<div class="col-md-2 align-self-center">
	    
   	</div>
   	<div class="col-md-4 align-self-center">
   		&copy;2023г.<br>
   	Все права защищены.
   	</div>
   	<div class="col-md-4 align-self-center">
   		Соц.сети:<br>
   	<a href="#"><img src="../static/img/vk.png" alt=""></a>
   	<a href="#"><img src="../static/img/facebook.png" alt=""></a>
   	<a href="#"><img src="../static/img/instagram.png" alt=""></a>
   	</div>
   </div>
</div>
</body>
</html>